<a href="https://colab.research.google.com/github/Maitry-P/Python-Coding-for-Public-Policy/blob/main/Manipulating%20and%20Combining%20Data_MP02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/afeld/python-public-policy/blob/main/hw_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HOMEWORK 2

Name: YOUR RESPONSE HERE

## Coding: Using keywords to categorize 311 requests

**Problem Statement:** When you read through the `descriptor` column in the 311 data, you will see that complaints related to graffiti are actually scattered throughout multiple `complaint_type` categories. We want to identify all complaints related to graffiti and see which community districts have the most instances of graffiti.

To help make this assignment easier, there's a smaller subset of the 311 data for you to use. It's named  `cleaned_311_data_hw2.csv` and is available at https://nyu.box.com/shared/static/i24kf9gkmc4ey506hw3oxxyaxz67k0mv.zip. This smaller dataset only contains ~65,000 records from relevant complaint type categories, and has columns renamed to be lowercase and underscored.

First, load the data:

In [ ]:
import pandas as pd
df = pd.read_csv('https://nyu.box.com/shared/static/i24kf9gkmc4ey506hw3oxxyaxz67k0mv.zip')

Preview the dataframe:

In [ ]:
df.head()

   Unnamed: 0  Unnamed: 0.1  ...  longitude                                 location
0           0           238  ...        NaN                                      NaN
1           1           353  ... -73.769744  (40.68377771085733, -73.76974413109498)
2           2           403  ...        NaN                                      NaN
3           3           655  ...        NaN                                      NaN
4           4           658  ...        NaN                                      NaN

[5 rows x 44 columns]

### Step 1

Create a function that checks each row in the 311 dataframe to see if the word "graffiti" is present in either the `complaint_type` value or `descriptor` value. Both columns may contain the word, so you should check both. If the word "graffiti" is found, the function should return the boolean value True. If "graffiti" is not found, the function should return the boolean value False.

#### Hints

- The same way that we checked if the string "BRONX" existed in the `community_board` value in the `cb_counts` table during the lecture, you can check if "graffiti" exists in the `descriptor` or `complaint_type` values.
- The `descriptor` column contains some null/NaN values. You'll have trouble running a function on these. Before your function checks if "graffiti" is present in `descriptor`, the function should make sure that a `descriptor` value exists using `pd.notnull(row.descriptor)`
- Capitalization may be inconsistent. It could help to use `.lower()` to convert strings to lowercase.

In [ ]:
def flag_graffiti(row):
  if 'graffiti' in row.complaint_type.lower():
    return True
  elif pd.notnull(row.descriptor):
    if 'graffiti' in row.descriptor.lower():
      return True
    else:
      return False
  else:
    return False

### Step 2

Apply the function created in Step 1 to the 311 dataframe and create a new column called `graffiti_flag` that captures the output from the function.

Tip: There are two checks you can use to confirm that the function worked as expected.

- Group by `graffiti_flag` to make sure there are records tagged as `True`.
- Using only the records where `graffiti_flag` is `True` (`sample[sample.graffiti_flag]`), group by `complaint_type` to make sure that more than one `complaint_type` is included.

In [ ]:
df['graffiti_flag'] = df.apply(flag_graffiti, axis=1)
df.head()

   Unnamed: 0  ...  graffiti_flag
0           0  ...          False
1           1  ...          False
2           2  ...          False
3           3  ...          False
4           4  ...          False

[5 rows x 45 columns]

In [ ]:
df.groupby('graffiti_flag').size()

graffiti_flag
False    38206
True     26371
dtype: int64

In [ ]:
df.groupby('complaint_type').size()

complaint_type
Bridge Condition                392
Broken Parking Meter          14210
Bus Stop Shelter Complaint      990
Graffiti                      24986
Highway Condition              3543
Maintenance or Facility       17665
Public Payphone Complaint       378
Public Toilet                    41
School Maintenance             2372
dtype: int64

### Step 3

Create another dataframe `df_graffiti` that only contains records where `graffiti_flag` is `True`. `df_graffiti = df[df.graffiti_flag]`

In [ ]:
df_graffiti = df[df['graffiti_flag']]
len(df_graffiti)

26371

### Step 4

Group your dataframe `df_graffiti` to get the count of requests per `community_board`. Use `.nlargest()` to identify which Community District has the highest count.

In [ ]:
df_graffiti.groupby('community_board').size().nlargest(15)

community_board
01 BROOKLYN             1797
03 MANHATTAN            1593
04 BROOKLYN             1429
03 BROOKLYN             1252
05 BROOKLYN              962
07 BROOKLYN              779
Unspecified BRONX        615
02 MANHATTAN             598
Unspecified BROOKLYN     591
01 QUEENS                572
0 Unspecified            540
12 QUEENS                539
12 BROOKLYN              532
14 BROOKLYN              532
08 BROOKLYN              505
dtype: int64

Brooklyn has the highest count of graffiti complaints.

### Bonus

Create a `graffiti_flag2` column using only built-in pandas operations, i.e. without using a custom function.

In [ ]:
# Option:1
def recode_borocd_counts(row):
  if 'MANHATTAN' in row["community_board"]:
    return '1' + row["community_board"][0:2]
    # [0:2] provides the first 2 characters, i.e. characters at indexes 0 and 1.
    # you could also use [:2] without the zero.
  elif 'BRONX' in row["community_board"]:
    return '2' + row["community_board"][0:2]
  elif 'BROOKLYN' in row["community_board"]:
    return '3' + row["community_board"][0:2]
  elif 'QUEENS' in row["community_board"]:
    return '4' + row["community_board"][0:2]
  elif 'STATEN ISLAND' in row["community_board"]:
    return '5' + row["community_board"][0:2]
  else:
    return 'Invalid BoroCD'
type(recode_borocd_counts)

function

In [ ]:
df['graffiti_flag2'] = df.apply(recode_borocd_counts, axis=1)
df

       Unnamed: 0  Unnamed: 0.1  ...  graffiti_flag  graffiti_flag2
0               0           238  ...          False  Invalid BoroCD
1               1           353  ...          False             412
2               2           403  ...          False             301
3               3           655  ...          False             414
4               4           658  ...          False             407
...           ...           ...  ...            ...             ...
64572       64572       2857911  ...          False             112
64573       64573       2857942  ...          False  Invalid BoroCD
64574       64574       2857951  ...           True             407
64575       64575       2858219  ...          False             103
64576       64576       2858538  ...          False             315

[64577 rows x 46 columns]

In [ ]:
#Option 2
def recode_borocd_counts(row):
    board = row["community_board"]

    if board[0] != 'U':
        num = board[0:2]
        
        if 'MANHATTAN' in board:
            return '1' + num
        elif 'BRONX' in board:
            return '2' + num
        elif 'BROOKLYN' in board:
            return '3' + num
        elif 'QUEENS' in board:
            return '4' + num
        elif 'STATEN ISLAND' in board:
            return '5' + num
    else:
        return 'Invalid BoroCD'
df['graffiti_flag2'] = df.apply(recode_borocd_counts, axis=1)
df

       Unnamed: 0  Unnamed: 0.1  ...  graffiti_flag  graffiti_flag2
0               0           238  ...          False            None
1               1           353  ...          False             412
2               2           403  ...          False             301
3               3           655  ...          False             414
4               4           658  ...          False             407
...           ...           ...  ...            ...             ...
64572       64572       2857911  ...          False             112
64573       64573       2857942  ...          False            None
64574       64574       2857951  ...           True             407
64575       64575       2858219  ...          False             103
64576       64576       2858538  ...          False             315

[64577 rows x 46 columns]

Now [turn in the assignment](https://github.com/afeld/python-public-policy#turning-in-assignments).

## Tutorials

- ["Youre Not Mapping Rats, You're Mapping Gentrification"](https://theconcourse.deadspin.com/you-re-not-mapping-rats-you-re-mapping-gentrification-1835005060)article about bias in 311 data
- [Intro to Plotly Express](https://plotly.com/python/plotly-express/). You don't have to work through every one of these examples; just review to get familiar with what types of charts are possible.